body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.navbar, .table th{
    background-color:#005ba7;
    color:#fff;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav > li > a{
color:#fff;
}

.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-nav > li > a:hover,h2{
color:#ee7d1f;
}

.jumbotron {
     background-color:#fbfdff;
     color:#fff;
}

.body-content
{
    background-color:#fff;
}

body{
    background-color:#fbfdff;
}

.table{
    margin-top:15px;
}
.row{
    margin-bottom:10px;
}