<!-- ko with: home -->
<section class="view" id="home">
    <div class="jumbotron">
        <img src="https://www.dealnet.co.za/live/Images/logo.gif" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Introduction</h2>
            <p>An order processing web application built using:</p>
            <ul>
                <li>SQL Server</li>
                <li>Entity framework</li>
                <li>AutoFac</li>
                <li>Web Api</li>
                <li>Knockoutjs</li>
            </ul>

        </div>
    </div>
</section>


<!-- /ko -->
